<ion-header>
  <ion-toolbar>
    <ion-title class="HomeHeader">Werewolf</ion-title>
  </ion-toolbar>
  
</ion-header>
<ion-content>
  <!-- Header -->
  
  <ion-grid>


    <ion-row>

      <ion-item style="padding-left: 5%;">
        <ion-label position="floating"><ion-icon style="font-size: 20px;" name="game-controller-outline"></ion-icon>Username:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </ion-row>



    <ion-row style="padding-top: 20%;">
      <ion-item style="padding-left: 5%;">
        <ion-label position="floating"><ion-icon style="font-size: 20px;" name="game-controller-outline"></ion-icon>Hostname to join:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-row>

    <ion-row style="padding-top: 40%; padding-bottom: 30%;">
      <ion-col><ion-button (click)="createGame()" style="width: 100%;" size="medium" color="medium" shape="round" >Create Game</ion-button></ion-col>
      <ion-col><ion-button (click)="joinGame()" style="width: 100%;" size="medium" color="medium" shape="round" >Join Game</ion-button></ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
