.container
{
    text-align:center;
    
}

.container ion-grid
{
    
}

.container ion-input
{
   
    text-align:center;
    
}

.container ion-col
{
    padding-top:5%;
    padding-bottom:5%;
}

.container ion-title
{
    padding-top:10%;
    padding-bottom:5%;
}