ion-toolbar{
    padding: 5%;
    
}

.HomeHeader {
    
    text-align: center;
    color: crimson;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ion-col{
    padding-right: 5%;
    padding-left: 10%;
    
}

.HomeTitle{

    text-align: left;
    font-size: 32px;
    
}

